section#home {
    // background-image: url(../img/tuiles.png);
    background-image: url(../img/tuiles.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .section-content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    img.title {
        width: 70%;
        max-width: 700px;
        transform: translateY(-50%);
    }

    .waves-container{
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}
