* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main {
    background-color: lightblue;
}

footer {
    overflow: hidden;
}

section {
    overflow: hidden;
    .section-content {
        padding: 4em 10%;
    }

    &#home {
        padding-top: 4em;
        min-height: 100vh;
        background: linear-gradient(60deg, rgb(73, 183, 58) 0%, rgba(0, 172, 193, 1) 100%);
    }
    
    &#testim {
        color: white;
        background: linear-gradient(60deg, var(--primary-d) 0%, var(--primary-l) 100%);
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
}



p,
a{
    font-family: sans-serif;
}

h1{
    font-size:2em;
}
p {
    text-align: justify;
}

@font-face {
    font-family: "Lovely Home";
    src:
      local("Lovely Home"),
      url("../font/LovelyHome.ttf") format("truetype"),
  }
  @font-face {
      font-family: "Aplenty";
      src:
      local("Lovely Home"),
      url("../font/Aplenty.ttf") format("truetype"),
  }
  
@font-face {
    font-family: "MonoR";
    src:
    local("Lovely Home"),
    url("../font/MonospaceR.ttf") format("truetype"),
}
    